*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#block{
    background-color:rgb(80, 80, 228);
    margin-bottom: 10px;
    color: white;
}

#inlinebox{
    display: flex;
    justify-items: center;
}


#inline{
    margin-right: 15px;
    color: white;
    background-color: rgb(10, 238, 162);
}

#floatbox{
    display: flex;
    justify-items: center;
}

#float{
    margin-right: 15px;
    background-color: orange;
    height: 35px;
    width: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center  ;
}


#inblockbox{
    display: flex;
    justify-items: center;
}

#inblock{
    margin-right: 15px;
    background-color: purple;
    height: 35px;
    width: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center  ;
}